@import url('fonts.googleapis.com/css?family=Lato:300:400');
@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Anton|Indie+Flower|Merriweather|Modak');


/* start navbar */
#nav-bar .navbar{
  background: linear-gradient(to right top, #00112a, #0a0f2a, #130c29, #1b0826, #210523);
}
#nav-bar .navbar .navbar-brand{
  color: #fff;
  padding-left: 16px;
}
#nav-bar .navbar-brand{
  font-family: 'Akronim';
  font-weight: 600;
  font-size: 45px;
}
.navbar ul li a{
  font-size: 18px;
  color: white! important;
  font-weight: bold;
}
.navbar ul li a:hover{
  color: grey! important;
}
.navbar ul li {
  padding: 0px 10px;
}
#nav-bar .btn-info{
  background: gold;
  color:black;
  border: none;
}
#nav-bar .btn-info:hover{
  background: white;
  color:#000;
}

/* End navbar */


.about{
  font-size: 65px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*start banner Section*/
#banner{
	background-image: linear-gradient(to right,#a517ba, #5f1782);
	padding-top: 3%;
	color:#fff;
}
.promo-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;

}
.play-button{
	width: 45px;
	margin: 20px;
}
#banner a{
	color: #fff;
	text-decoration: none;
}
.wave{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.btn-details{
  background-color: black;
  color: whitesmoke;
  padding: 8px 20px;
}


.btn-details:hover{
  background-color: rgb(48, 30, 30);
  color: whitesmoke;
  padding: 8px 20px;
}



/*end banner Section*/


/* Start footer */
#footer{
  margin-top: 100px;
  padding-top: 75px; 
  background: linear-gradient(to right top, #09030f, #0c0613, #0e0a17, #0f0d1b, #10101e)!important;
  
  }
  #footer .head{
    padding-bottom: 40px;
    color: #fff;
    font-weight: 600;
    font-family: 'Lalezar', cursive;
  
  }
  #footer p{
    color: #fff;
  }
  
  #footer .row .col-md-3 .img-row{
      padding: 25px 0px;
    }

    #footer a{
      text-decoration: none;
      color: whitesmoke;
      padding-left: 7px;
    }


/* End footer */